@model IEnumerable<KhachHang>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body fix-width scroll-inner" style="margin-top: 50px;">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/content/acssets/photo/avt.jpg"
                                     alt="User profile picture" />
                            </div>
                            @foreach (var item in Model)
                            {
                                <h3 class="profile-username text-center">@Html.DisplayFor(modelItem => item.Hoten)</h3>

                                <p class="text-muted text-center">@Html.DisplayFor(modelItem => item.Ngaysinh)</p>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Hồ sơ</a></li>
                                @foreach (var item in Model)
                                {
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Makh">Cập nhật</a>
                                }
                                @*<li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Cập nhật</a></li>*@
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <!-- Post -->
                                    <div class="post">
@*                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Tendangnhap)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Matkhau)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Diachi)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Dienthoai)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Tendangnhap)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Matkhau)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Diachi)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Dienthoai)
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.Makh">Edit</a> |
                                                            <a asp-action="Details" asp-route-id="@item.Makh">Details</a> |
                                                            <a asp-action="Delete" asp-route-id="@item.Makh">Delete</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>*@                                        
                                        @foreach (var item in Model)
                                                {
                                            <p><strong>Tên đăng nhập:</strong> @Html.DisplayFor(modelItem => item.Tendangnhap)</p>
                                            <p><strong>Mật khẩu:</strong> @Html.DisplayFor(modelItem => item.Matkhau)</p>
                                            <p><strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)</p>
                                            <p><strong>Địa chỉ:</strong> @Html.DisplayFor(modelItem => item.Diachi)</p>
                                            <p><strong>Số điện thoại:</strong> @Html.DisplayFor(modelItem => item.Dienthoai)</p>
                                                }
                                    </div>
                                    <!-- /.post -->
                                </div>                                
                                @*<div class="tab-pane" id="settings">
                                    <form class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>*@
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    </div>

